<div class="container pt-6 mx-auto">
  <div class="nk-gap-2"></div>
  <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Categories</span></span></h3>
  <div class="nk-gap"></div>
</div>
<div class="container mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-6 pt-6 gap-8">
  <div class="rounded">
    <div>
      <div class="nk-feature-1">
        <div class="nk-feature-cont">
          <h3 class="nk-feature-title"><a href="#">Gaming</a></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="rounded">
    <div>
      <div class="nk-feature-1">
        <div class="nk-feature-cont">
          <h3 class="nk-feature-title"><a href="#">Creative</a></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="rounded">
    <div>
      <div class="nk-feature-1">
        <div class="nk-feature-cont">
          <h3 class="nk-feature-title"><a href="#">Real World</a></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="rounded">
    <div>
      <div class="nk-feature-1">
        <div class="nk-feature-cont">
          <h3 class="nk-feature-title"><a href="#">Development</a></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="rounded">
    <div>
      <div class="nk-feature-1">
        <div class="nk-feature-cont">
          <h3 class="nk-feature-title"><a href="#">Music</a></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="rounded">
    <div>
      <div class="nk-feature-1">
        <div class="nk-feature-cont">
          <h3 class="nk-feature-title"><a href="#">18+</a></h3>
        </div>
      </div>
    </div>
  </div>
</div>
