mat-sidenav-container {
  height: calc(100vh - 65px);
  mat-sidenav {
    width: 250px;
    color: white;
    text-align: center;
    p {
      color: #ffffff;
      font-size: 10px;
    }
    .list {
      .link {
        color: white;
        text-decoration: none;
        padding: 10px 0 10px 20px;
        margin: auto;
        display: flex;
        align-items: center;
        width: 100%;

        &:hover {
          background-color: rgb(255, 60, 0);
          color: white;
        }
        a:hover {
          background-color: rgb(255, 60, 0);
          color: white;
        }
      }
    }
  }
}

.holy-grail {
  min-height: 100vh;
}

.holy-grail,
.holy-grail-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  color: white;
  background-image: url("/assets/images/background/bg-fixed-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.holy-grail-content {
  flex: 1 1 auto;
}

.holy-grail-sidebar-1 {
  order: -1;
}

@media (min-width: 768px) {
  .holy-grail-body {
    flex-direction: row;
  }
  .hg-sidebar {
    flex: 0 0 260px;
  }
}
