<div class="relative flex flex-0 justify-center w-full px-6 md:px-8 z-49 bg-card print:hidden bg-gray-900">
  <div class="flex items-center w-full max-w-360 h-14 sm:h-20">
    <span class="font-medium text-secondary">NXiE &copy; {{ currentYear }}, ENIXLABS Llc. All Rights Reserved.</span>
    <div class="flex-1"></div>
    <span class="pr-2"><button mat-button [routerLink]="'legal'">Terms</button></span>
    <span class="pr-2"><button mat-button [routerLink]="'legal'">Privacy</button></span>
    <span class="pr-2"><button mat-button [routerLink]="'legal'">Data Protection</button></span>
    <span class="pr-2"><button mat-button [routerLink]="'legal'">Cookies</button></span>
    <span class="pr-2"><button mat-button [routerLink]="'support'">Guides</button></span>
  </div>
</div>
